<H1>Create Contact</H1>

<div style="height:200px; width:250px;">
    <p><a asp-controller="Contact" asp-action="CreateContact" class="btn btn-primary">Create Contact</a></p>
    <p><a asp-controller="Contact" asp-action="GetAllContacts" class="btn btn-primary">Show all Contacts</a></p>
</div>
